 body {
    background-color: rgb(2, 2, 70);
    color: white;
 }
 section {
   background: rgb(67, 7, 131);
   padding-top: 80px;
   padding-bottom: 80px;
   display: flex;
   justify-content: center;

 }
  .chamada-texto {
   margin-right: 5%;
 }
 img {
   height: 200px;
 }